{% extends 'admin/admin.base.layout.twig' %}

{% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Installed Plugins</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Deactivated Plugins</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Available to Install</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">
        {% if activePlugins is empty %}
        <div class="alert alert-success" role="alert">
            No plugins are currently installed.
          </div>
          {% endif %}

        {% for plugin in activePlugins %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{plugin.name}}
                    <span class="badge rounded-pill text-bg-primary">{{plugin.version}}</span>
                </h5>
                <p class="card-text">{{plugin.description}}</p>
            </div>
            <div class="card-footer text-muted">

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a href="{{url_for(plugin.settingsRouteName)}}" class="btn btn-primary btn-sm">Settings</a>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Third group">
                        <a href="{{url_for('admin.plugin.deactivate' , {'key' : plugin.key})}}" class="btn btn-outline-secondary btn-sm">Deactivate</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <a href="{{url_for('admin.plugin.uninstall' , {'key' : plugin.key})}}" class="btn btn-outline-danger btn-sm">Uninstall</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

        {% if inactivePlugins is empty %}
        <div class="alert alert-success" role="alert">
            No deactivated plugins.
          </div>
          {% endif %}

        {% for plugin in inactivePlugins %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{plugin.name}}
                    <span class="badge rounded-pill text-bg-primary">{{plugin.version}}</span>
                </h5>
                <p class="card-text">{{plugin.description}}</p>
            </div>
            <div class="card-footer text-muted">

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <a  href="{{url_for('admin.plugin.activate' , {'key' : plugin.key})}}" class="btn btn-outline-secondary btn-sm">Activate</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <a  href="{{url_for('admin.plugin.uninstall' , {'key' : plugin.key})}}" class="btn btn-outline-danger btn-sm">Uninstall</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
        {% if availablePlugins is empty %}
        <div class="alert alert-success" role="alert">
            No plugins to install.
          </div>
          {% endif %}

        {% for plugin in availablePlugins %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{plugin.name}}
                    <span class="badge rounded-pill text-bg-primary">{{plugin.version}}</span>
                </h5>
                <p class="card-text">{{plugin.description}}</p>
            </div>
            <div class="card-footer text-muted">

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <a href="{{url_for('admin.plugin.install' , {'key' : plugin.key})}}" class="btn btn-outline-primary btn-sm">Install</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}