<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% for url in styles %}
    <link rel="stylesheet" href="{{url}}" />
    {% endfor %}

    <title>{{title}} - Admin Settings</title>
</head>

<body class="dark:bg-zinc-800 [&>*]:leading-[1.6]">
    <!-- Sidenav -->
    <nav id="sidenav-1"
        class="fixed top-0 left-0 z-[1035] h-full w-60 -translate-x-full overflow-hidden bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0 dark:bg-zinc-800"
        data-te-sidenav-init data-te-sidenav-mode-breakpoint-over="0" data-te-sidenav-mode-breakpoint-side="sm"
        data-te-sidenav-hidden="false" data-te-sidenav-color="dark" data-te-sidenav-content="#content"
        data-te-sidenav-scroll-container="#scrollContainer" data-te-sidenav-mode="side">
            <div id="header-content" class="pl-4">

                <a class="mb-3 flex items-center justify-center border-b-2 border-solid border-gray-100 py-6 outline-none"
                    href="#!" data-te-ripple-init data-te-ripple-color="primary">
                    <img id="te-logo" class="mr-2 w-8" src="https://tailwind-elements.com/img/logo.png" alt="TE Logo"
                        draggable="false" />
                    <span>Settings</span>
                </a>
            </div>
        <div id="scrollContainer" class="overflow-auto">
            <ul class="relative m-0 list-none px-[0.2rem] pb-12" data-te-sidenav-menu-ref>
                <li class="relative">
                    <a href="{{url_for('admin.home')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>i]:h-3.5 [&>i]:w-3.5 [&>i]:text-gray-400 dark:[&>i]:text-gray-300">
                            <i class="fa fa-home"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="relative pt-4">
                    <span
                        class="py-4 px-6 text-[0.6rem] font-bold uppercase text-gray-600 dark:text-gray-400">Settings</span>
                    <a href="{{url_for('admin.basic')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>i]:h-3.5 [&>i]:w-3.5 [&>i]:text-gray-400 dark:[&>i]:text-gray-300">
                            <i class="fa fa-hammer"></i>
                        </span>
                        <span>General</span>
                    </a>
                </li>
                <li class="relative">
                    <a href="{{url_for('admin.menus')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-3.5 [&>svg]:w-3.5 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
                            <i class="fa fa-bars"></i>
                        </span>
                        <span>Menus</span>
                    </a>
                </li>
                <li class="relative">
                    <a href="{{url_for('admin.mail')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-3.5 [&>svg]:w-3.5 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span>Email</span>
                    </a>
                </li>
                <li class="relative pt-4">
                    <a href="{{url_for('admin.users')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-3.5 [&>svg]:w-3.5 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
                            <i class="fa fa-users"></i>
                        </span>
                        <span>All Users</span>
                    </a>
                </li>
                <li class="relative pt-4">
                    <a href="{{url_for('admin.plugins')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-3.5 [&>svg]:w-3.5 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
                            <i class="fa fa-puzzle-piece"></i>
                        </span>
                        <span>Plugins</span>
                    </a>
                </li>
                <li class="relative pt-4">
                    <a href="{{url_for('admin.themes')}}" class="flex cursor-pointer items-center truncate rounded-[5px] py-[0.45rem] px-6 text-[0.85rem] text-gray-600 outline-none transition duration-300 ease-linear hover:bg-slate-50 hover:text-inherit hover:outline-none focus:bg-slate-50 focus:text-inherit focus:outline-none active:bg-slate-50 active:text-inherit active:outline-none data-[te-sidenav-state-active]:text-inherit data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none dark:text-gray-300 dark:hover:bg-white/10 dark:focus:bg-white/10 dark:active:bg-white/10"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-3.5 [&>svg]:w-3.5 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
                            <i class="fa fa-palette"></i>
                        </span>
                        <span>Themes</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="absolute bottom-0 h-24 w-full bg-inherit text-center">
            <hr class="mb-6 border-gray-300" />
            <p>tailwind-elements.com</p>
        </div>
    </nav>
    <!-- Sidenav -->

    <!-- Content -->
    <div class="h-screen w-full bg-gray-50 !pl-0 sm:!pl-60 p-16" id="content">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
              <h4 class="mt-0 mb-2 text-2xl font-medium leading-tight text-primary">
                {{title}}
              </h4>
        </div>

        {% block content %}
        {% endblock %}
        {{ debugbar.render() }}
    </div>
    <!-- Content -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>

</html>